    <div class="paper-content-inner {{ if (resources.GetMatch (printf "images/paper_logos/%s.*" .title)) }}with-image{{ end }}">
    <h3>
        {{ $link := "" }}
        {{ if .doi }}
            {{ $link = printf "https://doi.org/%s" .doi }}
        {{ else if .url }}
            {{ $link = .url }}
        {{ end }}

        {{ if ne $link "" }}
            <a href="{{ $link }}" target="_blank" rel="noopener">
                {{ .title }}
            </a>
        {{ else }}
            {{ .title }}
        {{ end }}
    </h3>

    <div class="authors">
        {{ delimit .authors ", " | markdownify }}
    </div>

    <div class="meta">
        {{ if and .journal (not (hasPrefix .journal "Submitted to")) }}
            {{ .journal | markdownify }} &middot; 
        {{ end }}
        
        {{ if .date }}
            {{ $dateStr := .date }}
            {{ if eq (len $dateStr) 7 }}
                {{ $dateStr = printf "%s-01" $dateStr }}
            {{ end }}
            
            {{ $dateObj := time $dateStr }}
            {{ if eq site.Language.Lang "pt-br" }}
                {{ $months := slice "Janeiro" "Fevereiro" "Março" "Abril" "Maio" "Junho" "Julho" "Agosto" "Setembro" "Outubro" "Novembro" "Dezembro" }}
                {{ $monthIndex := sub (int ($dateObj.Format "1")) 1 }}
                {{ index $months $monthIndex }} de {{ $dateObj.Format "2006" }}
            {{ else }}
                {{ $dateObj.Format "January 2006" }}
            {{ end }}
        {{ end }}
    </div>
    </div>

    {{ $image := resources.GetMatch (printf "images/paper_logos/%s.*" .title) }}
    {{ if $image }}
    {{ $resized := $image.Fill "500x500" }}
    <div class="paper-logo-container">
        <img src="{{ $resized.RelPermalink }}" alt="{{ .title }}" loading="lazy">
    </div>
    {{ end }}
